@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Контакти</h2>
<hr>
<div><label>E-mail: <a href="mailto:almark.ua@gmail.com">almark.ua@gmail.com</a></label></div>
<div><label>Skype: <a href="skype:markovtrojan">markovtrojan</a></label></div>

