@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 well">
            <h4>Сьогоднішні справи:</h4>
            <table class="table">
                <tr style="background-color: #EED2EE;">
                    <th>#</th>
                    <th>Короткий опис</th>
                    <th>Кінцева дата та час</th>
                    <th>Категорія</th>
                    <th>Пріоритет</th>
                    <th>Готовність</th>
                </tr>
            </table>

            <h4>Майбутні справи:</h4>
            <table class="table">
                <tr style="background-color: #EED2EE;">
                    <th>#</th>
                    <th>Короткий опис</th>
                    <th>Кінцева дата та час</th>
                    <th>Категорія</th>
                    <th>Пріоритет</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hello</td>
                    <td>12.12.15</td>
                    <td>12323</td>
                    <td>1</td>
                </tr>
                <tr class="info">
                    <td>2</td>
                    <td>Hello</td>
                    <td>12.12.15</td>
                    <td>12323</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hello</td>
                    <td>12.12.15</td>
                    <td>12323</td>
                    <td>3</td>
                </tr>
                <tr class="info">
                    <td>4</td>
                    <td>Hello</td>
                    <td>12.12.15</td>
                    <td>12323</td>
                    <td>4</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            @Html.Partial("~/Views/UserLoginPartialView.cshtml")
            @Html.Partial("~/Views/AddCasePartialView.cshtml")
        </div>
    </div>
</div>



