@using System.Net.Configuration
@using TimeManager.Models
@model TimeManager.Models.TodosModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 well">
            <h2>Головна сторінка</h2>
            <hr>
            <h4>Головні можливості сайта</h4>
            <img class="img-responsive img-center" src="~/Content/images/1.png" />
            <img class="img-responsive img-center" src="~/Content/images/2.png" />
            <img class="img-responsive img-center" src="~/Content/images/3.png" />
            <img class="img-responsive img-center" src="~/Content/images/4.png" />
            <img class="img-responsive img-center" src="~/Content/images/5.png" />
            <img class="img-responsive img-center" src="~/Content/images/6.png" />
        </div>
        <div class="col-md-3">
            @Html.Partial("~/Views/UserLoginPartialView.cshtml",new LoginViewModel())
            @if (ViewBag.IsAuthorized)
            {
                @Html.Partial("~/Views/AddTodoPartialView.cshtml", new AddTodoAjaxViewModel())
            }
        </div>
    </div>
</div>



