.block {
	background: #ccc;
	border: 1px solid #000;
}

.authorization-group, .add-todo-group {
	margin: 5px;
}

.authorization-well, .add-todo-well, .user-well {
	padding: 5px;
}

.well-header {
	background-color: #D9EDF7;
	border-bottom: 1px solid #31708F;
	color: #31708F;
	font-size: 14pt;
	margin-bottom: 10px;
}

.authorization-footer {
	padding: 0px;
}

.add-todo-body {
	padding-top: 0;
	padding-bottom: 0;
}

.attached-button {
	width: 40px;
	background-color: #eee;
	font-weight: bold;
}

td .checkbox {
	margin: 0;
}

.header {
	padding: 0 10px 0 10px;
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #aaa;
	margin-bottom: 10px;
	background-color: #D9EDF7;
}

.header h1 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.nv {
	margin-top:20px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.validation-error {
    color: #ff0039;
}

.nopadding {
   padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.img-responsive.img-center {
  margin: 0 auto;
}