<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">Time Manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="../">Головна сторінка</a></li>
                <li>@Html.ActionLink("Справи", "Index", "Todos")</li>
                <li>@Html.ActionLink("Категорії", "Index", "Categories")</li>
                <li>@Html.ActionLink("Контакти", "Contacts", "Home")</li>
            </ul>
        </div>
    </div>
</nav>
