<div class="well authorization-well">
    <div class="panel-heading well-header">
        Авторизація
    </div>
    <form class="form-horizontal">
        <div class="form-group authorization-group">
            <div class="col-md-12">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group authorization-group">
            <div class="col-md-12">
                <input type="password" class="form-control" id="password" placeholder="Пароль">
            </div>
        </div>
        <div class="form-group authorization-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-info form-control">Ввійти</button>
            </div>
        </div>
    </form>
    <div class="panel-footer authorization-footer">
        <a href="#">Реєстрація</a>
        <a href="#" class="pull-right">Забули пароль?</a>
    </div>
</div><!--end authorization well-->
<div class="well user-well">
    <div class="panel-heading well-header">
        Користувач
    </div>
    Вітаємо, <a href="#">Олександр</a>!
</div>
