<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ClearLayout</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
</head>
<body>
    <div class="container">
        @RenderBody()       
    </div>
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/js/timemanager.js"></script>
</body>
</html>
